@import url('https://fonts.googleapis.com/css2?family=Montserrat+Light&family=Lora+Regular&display=swap');
*,
*::before,
*::after{
	margin:0;
	padding:0;
}
:root{
	--main-red:#731627;
	--main-green:#77A98A;
	--main-blue:#383D4E;
	--main-yellow:#DEE688;
	--main-white: #DFE9B6;
}

h1,h2,h3,h4 {
	font-family: Montserrat Light;
}
p{
	font-family: Lora Regular;
}